/* Handel slide template 
 * Last Modified: 2019-06-06
-------------------------------------------------------------------------------- */


.small { font-size: 70% }



/* Remove slide numbering */
.remark-slide-number {
  display: none;
}

/* Increase vertical spacing for lists */
li:not(:last-child) {
    margin-bottom: 10px;
}



